
@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .header {
        &__text {
        display: none;
        }
        &__phone {
            margin-left: 100px;
        }
    }
    .mini {
        h1 {
            font-size: 28px;
     
        }
        h2 {
            font-size: 34px;
        }
        input {
            margin-top: 10px;
            font-size: 18px;
        }
        &__form-text {
            width: 100%;
        }
        &__contact-form {
            flex-direction: column;
            text-align: center;
        }
    }

    .feed-form {
        flex-direction: column;
    }
    .post {
        
        padding-bottom: 70px;
        &__mini {
            margin-right: 20px;
        }
    }
    .form__icon-name {
        display: none;
    }
    .form__icon-name {
        display: none;
    }
    .button {
        &__mini {
            margin: 0 auto;
            margin-top: 10px;
           
        }
        &__service {
            width: 145px;
            font-size: 18px;
        }
        &__additional {
            margin: 19px auto 0;
        }
    }
    .input {
        flex-direction: column;
            :last-child {
            transform: translateX(+4px);
            }
    }
    .form__icon-name {
        display: none;
    }
    .form__icon-phone {
     display: none;
    }
 
    .additional {
        &__icon {
            position: absolute;
            top: -74px;
            }
        &__price {
            margin-top: 32px;
            }
    }
    .feed {
    &__descr {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        }
    &__person {
       
        margin: 0 auto;
        }
    }
    .slick-prev {
        top: 50px;
        left: 550px;
    }
    
    .slick-next {
        top: 50px;
        right: 170px;
        }

}

@media (max-width: 992px){
    .container {
        max-width: 960px;
    }
    .mini {
        h1 {
            font-size: 28px;
            }
    }
    .button {
        &__mini {
            margin: 20px auto;
        }
        &__additional {
             margin: 11px auto 0;
        }
    }
    .why {
        &__wrapper {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 18px;
        }
        &__text {
            font-size: 19px;
        }
    }
    .tariff {
        &__wrapper {
            flex-direction: column;
        }
        &__card {
            max-width: 400px;
            margin: 0 auto;
        }
        &__desr {
            font-size: 17px;
            margin-top: 10px;
        }
        &__price {
            font-size: 17px;
        }
    }
    .title {
        font-size: 28px;
    }
    .service {
        &__descr {
            font-size: 19px;
        }
        &__img {
          
            margin-top: 0px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 18px;
        }
        &__text-end {
            width: 100%;
        }
    }
    .place {
        &__text1 {
            font-size: 19px;
        }
        &__text2 {
            font-size: 19px;
        }
        &__content {
            flex-direction : column;
        }
        &__table {
            margin-top: 30px;
            margin-left: 35px;
        }
        li {
            font-size: 22px;
        }
    }
    .additional {
        &__icon {
             top: -78px;
             margin-left: -21%;
        }
        &__title {
            font-size: 29px;
        }
        &__text {
            display: none;
        }
        &__price {
            margin-top: 32px;
        }
        &__block{
        max-height: 270px;
        }
    }
    .slick-prev {
        top: 50px;
        left: 450px;
    }
    
    .slick-next {
        top: 50px;
        right: 160px;
        }
     
}

@media (max-width: 767px){
    .container {
        max-width: 720px;
    }
    .mini {
        &__icon__text {
            display: none;
        }
    }
    .title {
        font-size: 24px;
    }
    .button {
        &__additional {
            font-size: 15px;
            margin: 39px auto 0;
        }
    }
    .service {
        &__descr {
            display: none;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 19px;
        }
    }
    .place {
        &__text1 {
            display: none;
        }
        &__text2 {
            display: none;
        }
        img {
            width: 640px;
            height: 280px;
            margin: 0 auto;
        }
        li {
            font-size: 17px;
        }
    }
    .questions {
        &__text {
            font-size: 20px;
        }
    }
    .additional {
        &__block {
            width: 41%;
            margin: 75px auto 0;
        }
        &__price {
            font-size: 20px;
        }
        &__title {
            font-size: 24px;
          height: 48px;
        }
        &__icon {
            top: -78px;
            margin-left: -24%;;
        }
    }
    .stick {
        display: none;
    }
    .post {
        &__span {
            display: none;
        }
        &__slider1 {
            width: 570px;
        }
    }

    .feed {
        &__position {
            max-width: 200px;
        }
      
    }

    .slick-prev {
       
        left: 380px;
    }
    
    .slick-next {
     
        right: 120px;
        }
   
}
@media (max-width: 575px){
    .container {
        max-width: 540px;
    }
    .header {
        &__logo {
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__phone {
            font-size: 20px;
        }
        &__button {
            padding: 11px;
        }
    }
    .button {
        &__service {
            font-size: 17px;
        }
    }
    .title {
        font-size: 21px;
        text-align: center;
    }
    .header {
        &__phone {
        margin-left: 25px;
        font-size: 20px;
        margin-top: 17px;
        }
        &__button {
            margin-left: 12px;
            width: 41%;
            height: 58px;
            margin-top: -10px;
        }
    }

    .post {
        min-height: 0;
    }
    .mini {
        h2 {
            font-size: 28px;
        
        }
        h1 {
            font-size: 26px;
        }
        h3 {
            display: none;
        }
        &__form-text {
            width: 88%;
            
        }
    }
    .input {
        display: block;
            :first-child {
            transform: translateX(0px);
            }
    }
    .why {
        &__block {
            flex-direction: column;
        }
        &__descr {
            margin-top: 20px;
            text-align: center;
        }
        &__icon {
            margin: 0 auto;
        }
    }
    .service {
        &__img {
            display: none;
        }
        &__text-end {
            display: none;
        }
        &__block {
            flex-direction: column;
        }
        &__item {
            margin-top: 20px;
            text-align: center;
        }
        &__icon {
            margin: 0 auto;
        }
        &__text {
            text-align: center;
        }
    }
    .tariff {
        &__item {
            display: none;
        }
        &__header {
            font-size: 16px;
        }
        &__card {
            height: 260px;
            width: 70%;
            margin: 0 auto;
        }
        &__price {
            font-size: 15px;
        }
        .grey {
            display: none;
        }
    }
    .additional {
        &__wrapper {
            flex-direction: column; 
            margin: 11px auto 0;
        }
        &__block {
            width: 55%;
            margin: 105px auto 0;
            max-height: 220px;
        }
        &__text {
            height: 0;
        }
        &__icon {
            width: 100px;
            height: 100px;
            margin: 0 70px;
            margin-top: 50px;
            top: -99px;
            margin-left: -17%;;
        }
        &__title {
            font-size: 20px;
            padding: 0 10px;
            margin-top: 50px;
        }
        &__price {
            font-size: 15px;
        }
    }
    .button {
        &__additional {
            width: 80%;
            margin: 41px auto 0;
        }
        &__tariff {
            width: 70%;
        }
    }
    .post {
        &__slider1 {
            width: 340px;
        }
    }
    .place {
        img {
            width: 320px;
            height: 180px;
        }
    }
    .footer__link {
        font-size: 15px;
    }

    .feed {

        &__person {
            display: block;
        }
        // &__item {
        //     margin: 0 70px;
        // }
        &__descr {
            margin-top: 30px;
            width: 100%;
            font-size: 15px;
            
        }
        &__text {
            margin-top: 15px;
            font-size: 17px;
        }
     
    
    }

    .slick-prev {

      top: 10px;
      left: 230px;
    }
    
    .slick-next {
        top: 10px;
        right: 20px;
       
        }
        
    .quetes__left {
  
         display: none;
        }
    .quetes__right {
      
        display: none;
           }
}

@media (max-width: 320px){
    .container {
        max-width: 280px;
    }
    .header {
        height: 160px;
            &__wrapper {
                flex-direction: column;
            }
            &__wrapper1 {
                display: block;
            }
            &__phone {
                margin-left: 10px;
                font-size: 17px;
            }
    }
    .button {
        &__mini {
            display: block;
            font-size: 16px;
            margin: 0 auto;
        }
        &__tariff {
            position: static;
            width: 70%;
            left: 0;
            margin: 50px auto 0;
        }
     
    }
 
        .slider-1 {
            img {
            width: 50%;
        }
    }



    .post .slick-slide img {
        display: block;
        width: 91%;
    }
    .post {
        &__slider1 {
            width: 230px;
        }
    }
    .mini {
        padding-top: 20px;
        padding-bottom: 20px;
        h2 {
            font-size: 24px;
        
        }
        h1 {
            display: none;
        }
        input {
            width: 95%;
            font-size: 12px;
        }
        &__icon{
            img {
                width: 50px;
                height: 50px;
            }
        }
        &__form-text {
            font-size: 16px;
         margin: 0 auto;
        }
    }
    .why {
        &__subtitle {
            font-size: 20px;
            width: 180px;
            margin: 0 auto;
            }
            &__text {
            display: none;
            }
        }
    .place li {
        font-size: 15px;
    }
    .service {
        padding-bottom: 30px;
        &__text {
            display: none;
        }
        &__subtitle {
            width: 50px;
            margin-left: 100px;
            line-height: 20px;
        }
    }
    .additional  {
       margin: 10px 5px;
        &__icon {
        display: none;
        }
        &__block {
            margin-top: 30px;
            width: 100%;
        }
        &__price {
            font-size: 14px;;
        }
        &__title {
            font-size: 14px;
        }
    }
    .title {
        font-size: 14px;
    }
    .place {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            width: 220px;
            height: 180px;
        }
    }
    .tariff {
        &__price {
            position: static;
         
            margin: 30px 15px 0;
            font-size: 15px;

        }
    }
    .feed {

        &__text {
            width: 100%;
            text-align: justify;
        }
        &__descr {
            &__text {
                width: 100%;
                text-align: justify;
            } 
        }
    }
    .footer__menu {
        display: none;
        
    }

   .slick-prev {
       
    top: 145px;
    left: 12px;
    }

    .slick-next {
    top: 145px;
    right: 12px;
    }

}


