@media (max-width: 1200px) {
    .container {
        max-width: 960px;

    }
    .header {
        &__text {
        display: none;
        }
        &__phone {
            margin-left: 100px;
        }
    }
    .mini {

        h1 {
            font-size: 28px;
            color: pink;
        
        }
        h2 {
            font-size: 34px;
    
        }
        input {
            margin-top: 10px;
            font-size: 18px;
        }
        &__form-text {
            width: 100%;
        }
      
        &__contact-form {
            flex-direction: column;
            text-align: center;
        }
    }
    .feed-form {
        flex-direction: column;
    }
    .post {

        &__mini {
            margin-right: 20px;
        }
    }
    .form__icon-name {
        display: none;
    }

    .form__icon-name {
        display: none;
    }
    .button {
        &__mini {
            margin-top: 10px;
        }
        &__service {

            width: 145px;
            font-size: 18px;
        }
    }
   
    .input {
        flex-direction: column;
      
            :last-child {
            transform: translateX(+4px);
            }
        }
    .form__icon-name {
    display: none;
}
    .form__icon-phone {
     display: none;
    }
    .slick-prev {
        left: 5px;
    }
    .slick-next {
        left: 567px;
    }
}

@media (max-width: 992px){
    .container {
        max-width: 720px;
    }
    .mini {
            h1 {
                font-size: 28px;
                color: yellow;
            }
    }
    .button {
        &__mini {
            margin: 20px auto;
        }
        // &__additional {
        //     position: static;
        //     width: 80%;
        // }
    }
    .why {
        &__wrapper {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 18px;
        }
        &__text {
            font-size: 19px;
        }
    }
    .tariff {
        &__wrapper {
            flex-direction: column;
        }
        &__card {
            max-width: 400px;
            margin: 0 auto;
        }
        &__desr {
            font-size: 17px;
            margin-top: 10px;
        }
        &__price {
            font-size: 17px;
        }
    }
    .title {
        font-size: 28px;
    }
    .service {
        &__descr {
            font-size: 19px;
        }
        &__img {
          
            margin-top: 0px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 18px;
        }
        &__text-end {
            width: 100%;
        }
    }
    .place {
        &__text1 {
            font-size: 19px;
        }
        &__text2 {
            font-size: 19px;
        }
        &__content {
            flex-direction : column;
        }
        &__table {
            margin-top: 30px;
            margin-left: 35px;
        }
        li {
            font-size: 22px;
        }
    }
    .additional {

        &__icon {
            left: 86px;
            top: -80px;
        }
        &__title {
            font-size: 29px;
        }
        &__text {
            display: none;
        }
        
     
}

@media (max-width: 767px){
    .container {
        max-width: 720px;
    }
    .mini {
        &__icon__text {
            display: none;
        }
    }
    .title {
        font-size: 24px;
    }
    .button {
        &__additional {
        font-size: 15px;
        }
    }
   
    .service {
        &__descr {
            display: none;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 19px;
        }
    }
    .place {
        &__text1 {
            display: none;
        }
        &__text2 {
            display: none;
        }
        img {
            width: 640px;
            height: 280px;
            margin: 0 auto;
        }
        li {
            font-size: 17px;
        }
    }
    .questions {

        &__text {
            font-size: 20px;
        }
    }

    .additional {
        &__block {
            width: 41%;
        }
        &__price {
            font-size: 20px;
        }
        &__title {
            font-size: 24px;
          height: 48px;
        }
    }
    .stick {
        display: none;
    }
    .post {
        &__span {
            display: none;
        }

        &__slider1 {
            width: 570px;
        }
    }
    .slick-prev {
        left: 75px;
    }
    .slick-next {
        left: 487px;
    }
}
@media (max-width: 575px){
    .container {
        max-width: 540px;
    }
    .header {
        &__logo {
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__phone {
            font-size: 20px;
        }
    }
    .button {
        &__service {
            font-size: 17px;
        }
    }
    .title {
        font-size: 21px;
      
        text-align: center;
    }
    .header {
        &__phone {
        margin-left: 25px;
        font-size: 20px;
        margin-top: 17px;
        }
        &__button {
            margin-left: 20px;
            width: 90%;
        }
    }
    .mini {
        h2 {
            font-size: 28px;
            color: orange;
        }
        h1 {
            font-size: 26px;
        }
        h3 {
            display: none;
        }
        &__form-text {
            width: 88%;
            
        }
    }
    .input {
            :first-child {
            transform: translateX(0px);
            }
    }
  
    .why {
        &__block {
            flex-direction: column;
        }
        &__descr {
            margin-top: 20px;
            text-align: center;
        }
    }
    .service {
        &__img {
            display: none;
        }
        &__text-end {
            display: none;
        }
        &__block {
            flex-direction: column;
        }
        &__item {
            margin-top: 20px;
            text-align: center;
        }
        &__icon {
            margin: 0 auto;
        }
        &__text {
            text-align: center;
        }
    }
    .tariff {
        &__item {
            display: none;
        }
        &__header {
            font-size: 16px;
        }
        &__card {
            height: 260px;
            width: 70%;
            margin: 0 auto;
        }
        &__price {
            font-size: 15px;
        }
        .grey {
            display: none;
        }
    }
    .additional {
        padding-top: 20px;
        &__wrapper {
            flex-direction: column; 
            margin: 11px auto 0;
        }
        &__block {
       
            width: 55%;
            margin: 45px auto 0;
        }
        &__text {
            height: 0;
        }
        &__icon {
            width: 100px;
            height: 100px;
            margin: 0 70px;
            margin-top: 50px;
        }
     
    }
    .button {

        &__additional {
            width: 80%;
        }

        &__tariff {
            width: 70%;
        }
    }
    .post {
        &__slider1 {
            width: 440px;
        }
    }
    .place {
      
        img {
            width: 320px;
            height: 180px;
        }
    }
    .footer__link {
        font-size: 15px;
    }
}
.feed {
    &__item {
        margin: 0 70px;
    }
    &__descr {
        width: 350px;
    }
}
.slick-next {
    left: 270px;
    top: 110px;
}
.slick-prev {
    left: 200px;
    top: 110px;
}
}

@media (max-width: 320px){
    .container {
        max-width: 280px;
    }
    .header {
        height: 160px;
            &__wrapper {
                flex-direction: column;
            }
            &__phone {
                margin-left: 10px;
                font-size: 17px;
            }
    }
    .button {

        &__mini {
            font-size: 16px;
        }

        &__tariff {
            width: 70%;
        }

    }
    .post {
        &__slider1 {
            width: 240px;
        }
    }
    .mini {
        padding-top: 20px;
        padding-bottom:20px;
        h2 {
            font-size: 24px;
            color: blue;
        }
        h1 {
            display: none;
        }
      
        input {
            width: 95%;
            font-size: 12px;
        }
        &__icon{
            img {
                width: 50px;
                height: 50px;
            }
        }
        &__form-text {
            font-size: 16px;
         margin: 0 auto;
        }
    }
    .why {
        &__subtitle {
     
        font-size: 20px;
        width: 180px;
        margin: 0 auto;
        }
        &__text {
        display: none;
        }
    }
    .place li {
        font-size: 15px;
    }
    .service {
        &__text {
            display: none;
        }
        &__subtitle {
            width: 50px;
            margin-left: 100px;
            line-height: 20px;
        }
    }
    .additional  {
       margin: 10px 5px;
        &__icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;

        }
        // &__wrapper {
        //   width: 90%;
        
        // }
        &__block {
            width: 70%;
        }
        &__price {
            font-size: 14px;;
        }

        &__title {
            font-size: 14px;
        }
    }
    .title {
        font-size: 14px;
    }
    .place {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            width: 220px;
            height: 180px;
        }
    }
    .footer__menu {
      
            display: none;
        
    }
   .feed {
       &__descr {
           display: none;
       }
       &__person {
           display: block;
       }
   }
   .slick-next {
    left: 200px;
    top: 250px;
}
.slick-prev {
    left: 150px;
    top: 250px;
}
}

