.feed {
    min-height: 561px;
    background-color: #f0f5fb;
    padding: 72px 0 52px 0;
    &__wrapper {
        margin-top: 47px;
    }
    &__item {
        margin: 0 50px;
    }
    &__person {
        display: flex;
    }
    &__text {
        color: #2b343b;
        font-family: "Roboto - Thin Italic";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
    &__icon {
        width: 86px;
        height: 86px;
        border: 2px solid #f6f6f6;
        margin-right: 35px;
    }
    &__name {
        color: #222b31;
        font-family: "Roboto - Regular";
        font-size: 17px;
        font-weight: 600;
    }
    &__position {
        color: #2b343b;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        margin-top: 10px;
    }
    &__descr {
        display: flex;
        margin-top: 48px;
        width: 391px;
        text-align: justify;
    }
}
.quetes__left{
    width: 24px;
    height: 24px;
    margin-top: 55px;
    margin-right: 22px;
}
.quetes__right{
    width: 24px;
    height: 24px;
    margin-top: 55px;
    margin-left: 22px;
}
.slick-prev {
 
    border: none;
    background-color: #f0f5fb;
    position: absolute;
    top: 150px;
    left: 0px;
}

.slick-next {
  
    border: none;
    position: absolute;
    background-color:  #f0f5fb;
    top: 150px;
    right: 0px;

    }
  

   