.mini {

    min-height: 717px;
    padding-top: 119px;
    background: url("../img/mini_bg.jpg") center (center/cover) no-repeat;
    z-index: -1;
    h2, h1 {
        color: #ffffff;
        font-family: "Roboto - Black";
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
    }
    h1 {
        font-size: 68px;
        margin-top: 20px;
    }
    h3 {
        color: #ffffff;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        margin-top: 17px;
        text-align: center;
    }
    hr {
        max-width: 578px;
        height: 1px;
        color: white;
        text-align: center;
        margin: 22px auto 0;
    }
    &__icon-block {
        max-width: 220px;
        text-align: center;
        }
    &__icon__wrapper {
        display: flex;
        text-align: center;
        margin-top: 49px;
        justify-content: space-around;
    }
    &__icon__text {
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
            margin-top: 15px;
    }
    &__form-text {
            font-size: 24px;
            color: #ffffff;
            font-weight: 400;
            margin-top: 30px;
            margin-left: 28px;
            width: 16%;
    }
    &__contact-form {
            max-width: 1000px;
            min-height: 123px;
            background-color: rgba(68, 65, 65, 0.5);
            margin-top: 64px;
            display: flex;
            flex-direction: column;
    }
    input {
            width: 290px;
            height: 58px;
            padding-left: 38px;
            border: 4px solid white;
        }
    }
.input {
    display: flex;
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
        :last-child {
        transform: translateX(-4px);
        }
    }
.feed-form {
    display: flex;
    margin: 0 28px;
}
.form__icon-name {
    position: absolute;
    top: 42px;
    left: 10px;
}
.form__icon-phone {
    position: absolute;
    top: 42px;
    right: 416px;
}
.stick {
    width: 1px;
    height: 20px;
    background-color: grey;
    position: absolute;
    top: 48px;
    left: 288px;
}
