.mini {

min-height: 717px;
padding-top: 119px;
background: url("../img/mini_bg.jpg") center (center/cover) no-repeat;
// position: relative;
z-index: -1;

h2, h1 {

color: #ffffff;
font-family: "Roboto - Black";
font-size: 50px;
font-weight: 400;
text-transform: uppercase;
text-align: center;
line-height: 40px;
}
h1 {
font-size: 68px;
margin-top: 20px;
}
h3 {

color: #ffffff;
font-family: Roboto;
font-size: 26px;
font-weight: 400;
line-height: 12px;
margin-top: 17px;
text-align: center;

}
hr {

width: 578px;
height: 1px;
color: white;
text-align: center;
margin: 22px auto 0;
}
    &__icon-block {

        text-align: center;
        max-width: 220px;
    }
    &__icon__wrapper {
    display: flex;
    text-align: center;
    margin-top: 49px;
    justify-content: space-around;
    }
    &__icon__text {
        color: #ffffff;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 400;
        margin-top: 15px;
    }
    &__form-text {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        margin-top: 30px;
        margin-left: 28px;
    }
    &__contact-form {
        max-width: 1000px;
        height: 123px;
        background-color: rgba(68, 65, 65, 0.5);
        margin-top: 64px;
        display: flex;
        flex-direction: column;
    }
    input {
        width: 290px;
        height: 58px;
        padding-left: 20px;
        border: 1px solid white;
        border-left: 1px solid grey;
       }
}
.input {
    display: flex;
    padding: 30px 0;
    margin: 0 auto;
    :last-child {
     transform: translateX(-3px);
     
    }
    :before {
             content: "dddd";
             display: block;
             width: 20px;
             height: 20px;
             border: 1px solid red;
             color: green;
    }
}
.feed-form {
    display: flex;
    margin: 0 28px;
}

